---
layout: default
current: home
class: 'home-template'
navigation: True
---

<header class="site-header outer{% if page.cover or site.cover %}" style="{% if page.class == 'home-template' %}background: url(/assets/images/site/corner_left-top.webp) no-repeat 0 0, url(/assets/images/site/corner_right-top.webp) no-repeat 100% 0, url(/assets/images/site/corner_left-bottom.webp) no-repeat 0 100%, url(/assets/images/site/corner_right-bottom.webp) no-repeat 100% 100%;{% endif %}background-image: url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}){% else %}no-cover{% endif %}">
	<div class="inner">
        <div class="site-header-content">
			<img class="site-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"/>
            <h1 class="site-title">{{ site.title }}</h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            {% include post-card.html %}
        </div>
    </div>
</main>