<footer class="footer outer">
	<div class="footer-content inner">
		<div class="footer-content_legal">
			<a href ="/agreement">Пользовательское соглашение</a>
			<a href ="/about">О нас</a>
		</div>
		<div class="footer-content_links">
			<a href ="https://tanki.su/" target="_blank"><img src="/assets/images/site/mt-logo.svg" alt="Официальный портал Мира Танков"></a>
			<a href ="https://lesta.ru/support/ru/products/wot/" target="_blank"><img src="/assets/images/site/lesta-logo.svg" alt="Центр поддержки Мира Танков"></a>
		</div>
		<div class="footer-content_copyright">© {{ site.title }}, {{  site.time | date: '%Y' }}. Игра «Мир танков» основана на интеллектуальной собственности третьих лиц. Все права на объекты прав третьих лиц принадлежат их законным правообладателям.</div>
	</div>
</footer>