<ul class="nav" role="menu">
	<li class="nav-home" role="menuitem"><a href="/">Главная</a></li>
	<li class="nav-news" role="menuitem"><a href="/category/news/">Новости</a></li>
	<li class="nav-headquarters" role="menuitem"><a href="/category/headquarters/">Штаб</a></li>
	<li class="nav-recruitment" role="menuitem"><a href="/category/recruitment/">Военкомат</a></li>
	{% if site.teamspeak %}<li class="nav-teamspeak" role="menuitem"><a href="//discord.com/invite/{{ site.teamspeak }}">TeamSpeak</a></li>{% endif %}
	{% if site.discord %}<li class="nav-discord" role="menuitem"><a href="//discord.com/invite/{{ site.discord }}">Discord</a></li>{% endif %}
	{% if site.sponsors %}<li class="nav-sponsors" role="menuitem"><a href="/sponsors">Спонсоры</a></li>{% endif %}
</ul>
