<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
			{% if site.vkontakte %}<a class="social-link social-link_vkontakte" href="https://vk.com/{{ site.vkontakte }}" target="_blank" rel="noopener"></a>{% endif %}
			{% if site.telegram %}<a class="social-link social-link_telegram" href="https://t.me/{{ site.telegram }}" target="_blank" rel="noopener"></a>{% endif %}
			{% if site.youtube %}<a class="social-link social-link_youtube" href="https://www.youtube.com/@{{ site.youtube }}" target="_blank" rel="noopener"></a>{% endif %}
			{% if site.twitch %}<a class="social-link social-link_twitch" href="https://www.twitch.tv/{{ site.twitch }}" target="_blank" rel="noopener"></a>{% endif %}
			{% if site.trovo %}<a class="social-link social-link_trovo" href="https://trovo.live/{{ site.trovo }}" target="_blank" rel="noopener"></a>{% endif %}
        </div>
        {% if site.subscribers %}
            <a class="button button_secondary" data-secondary-class="button_secondary" href="#subscribe">
				<span class="button_text">Подать заявку</span>
			</a>
        {% endif %}
    </div>
</nav>
