---
layout: default
current: post
class: post-template
disqus: false
---

<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {% if page.categories.size > 0 %}{% for category in page.categories %} category-{{ category | slugify: 'latin' }}{% endfor %}{% endif %} {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{ page.date | date: '%d-%m-%Y' }}">{{ page.date | date: '%d-%m-%Y' }}</time>
                    {% if page.categories.size > 0 %}
                        <span class="date-divider">/</span>
                        {% for category in page.categories %}
                            {% for categories in site.data.categories %}
                                {% if categories[1].name == category %}
                                    <a href="{{ site.baseurl }}category/{{ category | slugify: 'latin' }}/">{{ categories[1].title | upcase }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}					

                </section>
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>

            {% if page.cover %}
            <figure class="post-full-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
            </figure>
            {% endif %}

            <section class="post-full-content">
                <div class="kg-card-markdown">
                    {{ content | emoji }}
                </div>
            </section>

            <!-- Email subscribe form at the bottom of the page -->
<!--             {% if site.subscribers %}
                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">Subscribe to {{ site.title }}</h3>
                    <p>Get the latest posts delivered right to your inbox</p>
                    {% include subscribe-form.html placeholder="youremail@example.com" %}
                </section>
            {% endif %} -->

            <footer class="post-full-footer">
                {% for member in site.data.members %}
                    {% if member[1].nickname == page.member %}
                        <section class="member-card">
                            {% if member[1].picture %}
                                <img class="member-profile-image" src="/{{ member[1].picture }}" alt="{{ page.member }}" />
                            {% endif %}
                            <section class="member-card-content">
                                <h4 class="member-card-name"><a href="/member/{{ page.member }}">{{ member[1].nickname }}</a></h4>
                                {% if member[1].bio %}
                                    <p>{{ member[1].bio }}</p>
                                {% else %}
                                    <p>Read <a href="/member/{{ page.member }}">more posts</a> by this member.</p>
                                {% endif %}
                            </section>
                        </section>
                        <div class="post-full-footer-right">
                            <a class="member-card-button" href="/member/{{ page.member }}"><span class="member-card-button-text">Другие записи</span></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </footer>

            <!-- If you use Disqus comments, just uncomment this block.
            The only thing you need to change is "test-apkdzgmqhj" - which
            should be replaced with your own Disqus site-id. -->
            {% if site.disqus or page.disqus %}
                <section class="post-full-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            var this_page_url = '{{ site.url }}{{ page.url }}';
                            var this_page_identifier = '{{ page.id }}';
                            var this_page_title = '{{ page.title }}';
                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section>
            {% endif %}

        </article>

    </div>
</main>

<!-- Links to Previous/Next posts -->
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {% if page.categories.size > 0 %}
                {% assign primary = page.categories | first %}
                {% assign related_posts = 0 %}
                {% for post in site.posts %}
                  {% if post.categories.size > 0 %}
                      {% if post.categories contains primary %}
                        {% assign related_posts = related_posts | plus: 1 %}
                      {% endif %}
                  {% endif %}
                {% endfor %}
                {% if related_posts > 1 %}
                    <article class="read-next-card"
                        {% if site.cover %}
                            style="background-image: url(/{{ site.cover }})"
                        {% else %}
                            {% if page.cover %}
                                style="background-image: url(url(/{{ page.cover }})"{% endif %}
                        {% endif %}>
                        <header class="read-next-card-header">
                            <small class="read-next-card-header-sitetitle">&mdash; {{ site.title }} &mdash;</small>
                            {% if primary %}
                                 <h3 class="read-next-card-header-title"><a href="{{ site.baseurl }}category/{{ primary | slugify: 'latin' }}/">{{ primary | capitalize }}</a></h3>
                            {% endif %}
                        </header>
                        <div class="read-next-divider">{% include infinity.html %}</div>
                        <div class="read-next-card-content">
                            <ul>
                                {% assign count = 0 %}
                                {% for post in site.posts %}
                                  {% if post.tags contains primary %}
                                    {% if post.title != page.title %}
                                        {% assign count = count | plus: 1 %}
                                        {% if count <= 3 %}
                                            <li><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <footer class="read-next-card-footer">
                            <a href="{{ site.baseurl }}category/{{ primary | slugify: 'latin' }}/">
                                {% if related_posts > 1 %}
                                    See all {{ related_posts | minus: 1 }} posts  →
                                {% elsif related_posts == 1 %}
                                    {{ related_posts }} post  →
                                {% else %}
                                    No posts.
                                {% endif %}
                            </a>
                        </footer>
                    </article>
                {% endif %}
            {% endif %}

            {% if page.next %}
                {% include post-card-next.html %}
            {% endif %}

            {% if page.previous %}
                {% include post-card-previous.html %}
            {% endif %}

        </div>
    </div>
</aside>

{% include floating-header.html %}

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
<!-- {% include page-scripts.html %} -->