name: Testing the GitHub Pages publication

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: helaili/jekyll-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        target_branch: 'gh-pages'
